<div class="flex items-center justify-center">
  <div class="flex-col">
    <div class="flex self-stretch justify-center">
      <canvas
        #drawingCanvas
        width="500"
        height="500"
        class="border border-teal-300 rounded-md"
        (mousedown)="startDrawing($event)"
        (mousemove)="draw($event)"
        (mouseup)="endDrawing()"
      ></canvas>
    </div>
    <div class="flex justify-center m-2 items-center">
      <div class="mr-2 font-mono">Line Width</div>
      <input type="number" [(ngModel)]="lineWidth" class="mr-2 w-10" />
      <div class="mr-2 font-mono">Color Picker</div>
      <input type="color" [(ngModel)]="selectedColor" class="mr-4" />
      <basic-button (action)="clearCanvas()" [text]="clearButtonText" />
    </div>
  </div>
</div>
