<!-- <div class="flex items-center justify-center">
    <div class="flex-col">
        <div class="flex self-stretch justify-center mb-2">
            <basic-button [action]={submit} [text]={actionText} />
            <div class="mx-3"></div>
            <basic-button action={clear} text="Clear canvas" />
        </div>
        <div class="flex self-stretch justify-center">
            <canvas
                ref={canvasRef}
                onMouseDown={onMouseDown}
                width={canvasWidth}
                height={canvasHeight}
                class="border border-teal-300 rounded-md"
            />
        </div>
        <div class="flex-row mb-4">
            <div class="flex self-stretch justify-center my-5">
                <input
                    onChange={(e) => setLineWidth(e.target.valueAsNumber)}
                    value={lineWidth}
                    class="w-40 mr-1 cursor-pointer accent-teal-500 rounded-full"
                    type="range"
                    min="4"
                    max="20"
                    step="1"
                />
                <div
                    onClick={() => setColor("red")}
                    class="font-bold mx-1 text-gray-700 rounded-full bg-red-500 flex-col items-center justify-center font-mono h-8 w-8"
                />
                <div
                    onClick={() => setColor("orange")}
                    class="font-bold mx-1 text-gray-700 rounded-full bg-orange-400 flex-col items-center justify-center font-mono h-8 w-8"
                />
                <div
                    onClick={() => setColor("yellow")}
                    class="font-bold mx-1 text-gray-700 rounded-full bg-yellow-300 flex-col items-center justify-center font-mono h-8 w-8"
                />
                <div
                    onClick={() => setColor("green")}
                    class="font-bold mx-1 text-gray-700 rounded-full bg-green-400 flex-col items-center justify-center font-mono h-8 w-8"
                />
                <div
                    onClick={() => setColor("blue")}
                    class="font-bold mx-1 text-gray-700 rounded-full bg-blue-400 flex-col items-center justify-center font-mono h-8 w-8"
                />
                <div
                    onClick={() => setColor("brown")}
                    class="font-bold mx-1 text-gray-700 rounded-full bg-orange-800 flex-col items-center justify-center font-mono h-8 w-8"
                />
                <div
                    onClick={() => setColor("black")}
                    class="font-bold mx-1 text-gray-700 rounded-full bg-black flex-col items-center justify-center font-mono h-8 w-8"
                />
            </div>
        </div>
    </div>
</div> -->